.home-page-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #eaffd4;
  width: 346.49px;
  height: 119.19px;
  overflow: hidden;
  display: none;
}
.home-main-con{
  position: relative;
  top: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100vh - 88px);
}
.notch-icon14 {
  position: absolute;
  top: -1.85px;
  left: calc(50% - 101.88px);
  width: 202.35px;
  height: 27.72px;
  display: none;
}
.right-side-icon14 {
  position: absolute;
  top: 16.01px;
  right: 14.05px;
  width: 61.59px;
  height: 10.47px;
}
.div36 {
  position: absolute;
  top: 0.92px;
  left: 0;
  letter-spacing: -0.46px;
  line-height: 18.48px;
  font-weight: 600;
  display: inline-block;
  width: 49.89px;
  height: 18.48px;
}
.left-side14,
.statusbar-time14 {
  position: absolute;
  width: 49.89px;
  height: 19.4px;
}
.statusbar-time14 {
  top: 0;
  left: 0;
  border-radius: 22.18px;
}
.left-side14 {
  top: 11.09px;
  left: 22.18px;
}
.statusbar-iphone-x-or-newer14 {
  position: absolute;
  top: 0;
  left: 0;
  width: 346.49px;
  height: 40.65px;
  overflow: hidden;
  font-size: 13.86px;
  color: #000;
  font-family: "SF Pro Text";
}
.iconlyregularbulklocation {
  position: relative;
  width: 26.8px;
  height: 26.8px;
  flex-shrink: 0;
}
.location1 {
  border-radius: 9.24px;
  display: flex;
  flex-direction: row;
  padding: 9.23973274230957px;
  align-items: center;
  justify-content: center;
}
.deliver-to,
.nairobi-kenya {
  position: relative;
  line-height: 18.48px;
  font-weight: 300;
}
.nairobi-kenya {
  font-weight: 500;
}
.iconlyregularlightarrow-d {
  position: relative;
  width: 22.18px;
  height: 22.18px;
  flex-shrink: 0;
}
.location-group,
.nairobi-kenya-parent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.nairobi-kenya-parent {
  align-items: flex-start;
  gap: 9.24px;
  text-align: left;
  font-size: 13.86px;
}
.location-group {
  align-items: center;
  gap: 4.62px;
  z-index: 0;
}
.icon17 {
  position: relative;
  width: 22.18px;
  height: 22.18px;
  flex-shrink: 0;
  z-index: 1;
}
.frame-child4 {
  position: absolute;
  margin: 0 !important;
  top: 9.24px;
  right: 4vw;
  width: 9.24px;
  height: 9.24px;
  flex-shrink: 0;
  z-index: 2;
}
.frame-parent71 {
  width: 90vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.location {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}
.magnifyingglass-icon2 {
  position: relative;
  width: 29.57px;
  height: 29.57px;
  flex-shrink: 0;
}
.vegetables-fruits2 {
  position: relative;
  letter-spacing: 0.46px;
  line-height: 18.48px;
  outline: none;
  border: none;
  height: 100%;
  width: 100%;
  background: none;
}
.search-bar2 {
  border-radius: 9.24px;
  background-color: #f2f2f2;
  width: 90vw;
  height: 55.44px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 9.23973274230957px 14.783573150634766px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: 9.24px;
  font-size: 13.86px;
  color: #bdbdbd;
}
.banner-ads-inner,
.location-parent {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.location-parent {
  top: 20px;
  left: 50%;
  margin-left: -45vw;
  align-items: center;
  gap: 18.48px;
}
.banner-ads-inner {
  top: 24.95px;
  left: 147.84px;
  align-items: flex-start;
}
.banner-ads {
  position: relative;
  border-radius: 9.24px;
  background-color: #fe9370;
  width: 295.67px;
  height: 133.98px;
  flex-shrink: 0;
  overflow: hidden;
}
.banner-ads-parent,
.home-page-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 95vw;
}
.banner-ads-parent {
  gap: 18.48px;
}
.home-page-inner {
  position: absolute;
  top: 165px;
  left: 12px;
  overflow-x: scroll;

}


.lorem-wrapper6 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.lorem-wrapper6 {
  flex-shrink: 0;
  justify-content: flex-start;
}
.school-building-icon16 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.icon18 {
  position: relative;
  width: 14.78px;
  height: 14.78px;
  flex-shrink: 0;
  display: none;
}
.frame-parent72,
.icon-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.icon-parent {
  border-radius: 36.96px;
  background-color: #fe9370;
  padding: 4.619866371154785px 9.23973274230957px;
  justify-content: flex-start;
  gap: 9.24px;
  font-size: 12.01px;
  color: #fff;
}
.frame-parent72 {
  width:95vw;
  justify-content: space-between;
}
.title-top-sub-title13 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.burger-1-icon7 {
  position: absolute;
  top: 9.24px;
  left: 11.09px;
  width: 46.2px;
  height: 46.2px;
  object-fit: cover;
  display: none;
}
.cheeseburger-icon5 {
  position: relative;
  width: 42.95px;
  height: 36.96px;
  flex-shrink: 0;
  object-fit: cover;
}
.cheeseburger-parent3 {
  position: absolute;
  top: calc(50% - 32.68px);
  left: calc(50% - 21.82px);
  height: 64.68px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4.62px;
}
.category-icon12 {
  position: relative;
  border-radius: 8.23px;
  background-color: #f2f2f2;
  width: 69.3px;
  height: 64.68px;
  flex-shrink: 0;
  overflow: hidden;
}
.category-icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.taxi-icon1 {
  position: relative;
  width: 36.96px;
  height: 36.96px;
  flex-shrink: 0;
  object-fit: cover;
}
.taxi-group {
  height: 64.68px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4.62px;
}
.taxi-2-icon2 {
  position: relative;
  width: 57.63px;
  height: 57.63px;
  flex-shrink: 0;
  object-fit: cover;
  display: none;
}
.category-icon13 {
  border-radius: 8.23px;
  background-color: #f2f2f2;
  width: 69.3px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 0 15.70754623413086px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 9.24px;
}
.broccoli-1-icon2 {
  position: absolute;
  height: 71.43%;
  top: 14.29%;
  bottom: 14.29%;
  left: 11.09px;
  max-height: 100%;
  width: 46.2px;
  object-fit: cover;
  display: none;
}
.vegetables-box-container {
  position: absolute;
  top: calc(50% - 32.68px);
  left: calc(50% - 22.61px);
  height: 64.68px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4.62px;
}
.car-icon1,
.vpn-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 49.27px;
  height: 49.27px;
  object-fit: cover;
}
.vpn-icon1 {
  top: 41.67px;
  left: 35.89px;
  width: 26.75px;
  height: 26.75px;
}
.car-group {
  position: absolute;
  top: 7.39px;
  left: 6.22px;
  width: 62.65px;
  height: 49.27px;
  display: none;
}
.car-rental-group {
  position: absolute;
  top: calc(50% - 32.68px);
  left: calc(50% - 19.05px);
  height: 64.68px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4.62px;
}
.frame-parent73,
.title-top-sub-title-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 11.09px;
}
.frame-parent73
{
width: 100%;
}
.title-top-sub-title-container {
  position: absolute;
  top: 340.02px;
  left: 12px;
  flex-direction: column;
  justify-content: center;
  gap: 24.02px;
  font-size: 18.48px;
}
.iconlyregularlightfilter2 {
  position: relative;
  width: 18.48px;
  height: 18.48px;
  flex-shrink: 0;
  display: none;
}
.frame-child5 {
  position: relative;
  border-radius: 9.24px;
  background-color: #fe9370;
  width: 194.03px;
  height: 73.92px;
  flex-shrink: 0;
  overflow: hidden;
}
.discount-promo,
.frame-parent75 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14.78px;
}
.frame-parent75 {
  flex-direction: row;
  width: 100%;
  overflow-x: scroll;
}
.discount-promo {
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  width: 100%;
}
.unsplashsnlfvyml8os-icon6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 208.82px;
  height: 138.6px;
  object-fit: cover;
}
.image6 {
  align-self: stretch;
  position: relative;
  border-radius: 18.48px;
  box-shadow: 0 3.6958932876586914px 36.96px rgba(0, 0, 0, 0.3);
  height: 138.6px;
  flex-shrink: 0;
  overflow: hidden;
}
.kebab-marroco {
  position: relative;
  line-height: 110%;
  display: inline-block;
  width: 154.3px;
}
.iconlyregularboldstar6 {
  position: relative;
  width: 16.63px;
  height: 16.63px;
  flex-shrink: 0;
}
.div37 {
  position: relative;
  letter-spacing: -0.46px;
  line-height: 110%;
  font-weight: 500;
}
.star10 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 4.62px;
}
.rating-star-etc-child3 {
  position: relative;
  width: 3.7px;
  height: 3.7px;
  flex-shrink: 0;
}
.k1 {
  letter-spacing: -0.46px;
}
.k {
  position: relative;
  line-height: 110%;
  font-weight: 500;
}
.rating-star-etc6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 9.24px;
  font-size: 12.01px;
}
.hot-promo,
.text19 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.text19 {
  align-self: stretch;
  flex: 1;
  padding: 13.859600067138672px 9.23973274230957px 9.23973274230957px;
  justify-content: space-between;
}
.hot-promo {
  border-radius: 18.48px;
  background-color: #fff;
  box-shadow: 5.543839931488037px 5.543839931488037px 110.88px
    rgba(0, 0, 0, 0.1);
  width: 172.78px;
  height: 217.13px;
  flex-shrink: 0;
  overflow: hidden;
  justify-content: flex-start;
  margin: 10px auto;
}
.pizza {
  position: relative;
  line-height: 110%;
}
.unsplashsnlfvyml8os-icon8 {
  position: absolute;
  top: 0;
  left: -18.48px;
  width: 208.82px;
  height: 138.6px;
  object-fit: cover;
}
.best-selling,
.hot-promo-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14.78px;
}
.hot-promo-parent {
  overflow-x: scroll;
  flex-direction: row;
  text-align: left;
  font-size: 16.63px;
  width: 100%;
}
.best-selling {
  position: absolute;
  top: 134.9px;
  left: 0px;
  flex-direction: column;
  width: 95vw;

}
.iconlyregularlightfilter4 {
  position: relative;
  width: 18.48px;
  height: 18.48px;
  flex-shrink: 0;
}
.recommended-resto2 {
  position: absolute;
  top: 426.02px;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  gap: 14.78px;
}
.discount-promo-parent {
  position: absolute;
  top: 484.16px;
  left: 12px;
  width: 95vw;
  height: 672.93px;
  font-size: 18.48px;
}

.home-page {
  position: relative;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  font-size: 11.09px;
  color: #2c2b46;
  font-family: Poppins;
}
